body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  overflow: hidden;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
}

button {
  position: relative;
  color: #555;
  background-color: #ddd;
  border: 0px;
  padding: 5px 8px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #fff;
}

button.selected {
  background-color: #fff;
}

#viewport {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#viewport #info {
  position: absolute;
	left: 10px;
	bottom: 10px;
	font-size: 12px;
	color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
  pointer-events: none;
}

#buttons {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  padding: 10px;
}

#hud {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 3;
  display: none;
  pointer-events: none;
}

#hud.visible {
  display: block;
}

#hud1, #hud2 {
  position: absolute;
  border: 3px solid #FFF;
  border-radius: 5px;
  color: #FFF;
  font-family: arial;
}

#hud1 {
  top: 10px;
  left: 10px;
  background: #AA3333;
  font-size: 20pt;
  font-weight: bold;
  padding: 5px;
}

#hud2 {
  bottom: 10px;
  right: 10px;
  background: #3333AA;
  font-size: 20pt;
  font-weight: bold;
  padding: 5px;
}

#hud1.transparent {
  background: rgba(120, 20, 20, 0.5);
}

#hud2.transparent {
  background: rgba(20, 20, 120, 0.5);
}
